*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0a0a0a,#314452);
}

.calculator{
    border: 1px solid white;
    padding: 20px;
    border-radius:16px;
}

input{
    height:60px;
    width:300px;
    border: none;
    background-color: transparent;
    color:#ffffff;
    font-size: 30px;
    border:1px solid white;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input::placeholder{
    color:#fff;
    font-size: 30px;
}

button{
    height:60px;
    width:65px;
    font-size: 30px;
    background: transparent;
    color: #ffffff;
    border:0.5px solid white;
    border-radius: 10px;
    margin: 2px;
}

.equal{
    background-color: orange;
}

.opr{
    color:rgb(28, 227, 28);
}